body{
    background: url(../img/fond.jpg);
    background-size: cover;
}
main{
    /*ma page fera-maximum 1300px de large*/
    width: 100%;
    max-width: 1300px;
    /*sa hauteur s'd*/
    height: auto;
    margin: 0 auto;
}
.mt-40{
    margin-top: 40px;
}
main > p {
    font-family:Arial, sans-serif;
        color: white;
        font-size: 13px;
    text-align: center;
}
main > p span{
    text-decoration: underline;
}
header.top{
    width: 100%;
    height: 50px;
    float: left;
    /*décoration*/
    border-top-left-radius: 10px;
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
background: -moz-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
background: -o-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
background: -ms-linear-gradient(-90deg, #ffffff 0%, #dddddd 100%);
background: linear-gradient(180deg, #ffffff 0%, #dddddd 100%);
box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.65);
}


.traduction{
    width: 25%;
    height: 19px;
    float: left;
    margin-top: 15px;
    margin-left: 30px;
}
.traduction p{
    font-family: Ariel,sans-serif;
    font-size: 11px;
    color: black;
    text-transform: uppercase;
    float: left;
    margin: 4px; 5px; 0 0
    
}
.traduction-fr {
    display: block;
    width: 28px;
    height: 19px;
    float: left;
    background: url(../img/drap.png);
    background-position: -71px 0px;
    text-indent: -5000px;
    
}
.traduction-en {
    display: block;
    width: 28px;
    height: 19px;
    float: left;
    background: url(../img/drap.png)no-repeat;
    background-position: -104px 0px;
    text-indent: -5000px;
    margin-left: 10px;
    
}




.top nav {
    width: auto;
    height: auto;
    float: right;
    margin-right: 174px;
    
}

.top nav ul{
    margin: 0px;
    padding: 0px;
    
}
.top nav ul li{
    display: inline-block;
    margin: 0 10px;
    
}
.top nav ul li a{
    font-family: 'roboto condensed', sans-serif;
    color: #202020;
    font-size: 16px;
    text-decoration: none;
    line-height: 48px;
    
}
.top ul li a:hover{
    text-decoration: underline;
}
.top ul li.current a {
    color: #3060a7;
    
}   
.top nav ul li:nth-child(3) a{
    color: #fe3224;
}
.projecteur {
    /*dimensions et positionnement*/
    width: 100%;
    height: 750px;
    float: left;
    position: relative;
    /*décoration*/
   
}
.projecteur img{
    max-width: 100%;
    position: relative;
}
/*menu projecteur*/

.projecteur nav{
    /*dimension et positionnement*/
    width: 340px;
    height: auto;
    position: absolute;
    left: 170px;
    top: 0px;
    text-align: center;
    /*décoration*/
    background: -webkit-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: linear-gradient(180deg, #ffffff 0%, #bbbbbb 100%);
    border-left: 5px solid red ; 
    
}
.projecteur nav a img{
    margin: 20px 0;
    
}
.projecteur nav ul{
    margin: 0px;
    padding: 0px;
    
}
    
.projecteur nav ul li{
    width: 100%;
    height: 69px;
    padding-top: 15px;
    list-style: none;/*permet de supprimer les puce*/
     background: -webkit-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -moz-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -o-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: -ms-linear-gradient(-90deg, #ffffff 0%, #bbbbbb 100%);
    background: linear-gradient(180deg, #ffffff 0%, #bbbbbb 100%);
    
}
.projecteur nav ul li a{
    font-family: 'roboto condensed', sans-serif;
    font-size: 18px;
    color: #000;
    text-decoration: none;
    
}
.projecteur nav ul li a:hover{
    text-decoration: underline;
    
}
.projecteur nav ul li span{
    font-family: 'roboto condensed',sans-serif;
    font-size: 15px;
    color: #000;
    font-style: italic;
    font-weight: 300px;
    
}
/*décoration des lien*/
.projecteur nav ul li:first-child a{
    color: #fe3626;
} 
.projecteur nav ul li:nth-child(2) a{
    color:#bc8242;
} 
.projecteur nav ul li:nth-child(3) a{
    color: #3860a7;
} 
.projecteur nav ul li:last-child a{
    color: #08a640;
} 


    




.brouge {
    background-color:  #fe3224;
    width: 100%;
    height: 50px;
    float: left;
    margin-top: -4px;
    position: relative;
    
}
.brouge img{
    /*premier solution*/
    position: absolute;
    display: block;
    margin: auto;
    position: relative;
    bottom: 15px;
/*2eme solution*/
    position: absolute;
    left: 50%;
    top:30%;
    transform: translate(-50%, -50%);
    
}
/*compose séjour  comps*/


.comps {
    width: 100%;
    height: 121px;
    float:left;
    background: -webkit-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: -moz-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: -o-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: -ms-radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
background: radial-gradient(circle farthest-side at 50%, #ffffff 0%, #febeb9 100%);
    border-bottom-right-radius: 10px;
}


.comps p{
    font-family: Arial, sans-serif;
    color: #000000;
    font-size: 13px;
    text-align: center;
  
       
 
}
.comps p span{
    text-decoration: underline;
    
}
.comps p span.rouge {
    color: #FE372A;
    text-decoration:inherit;
    
}

.btnsejour{
    width: 346px;
    height: 37px;
    display: block;/*pour pouvoir agir sur le block*/
    margin: auto;
    background: -webkit-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -moz-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -o-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: -ms-linear-gradient(-90deg, #fe8e86 0%, #fe3224 100%);
    background: linear-gradient(180deg, #fe8e86 0%, #fe3224 100%);
    
    font-family: Roboto;
    color:  #ffffff;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    line-height: 37px;
    font-family: 300px;
    position: relative;
}

.btnsejour::before{
    width: 147;
    height: 36px;
    background: url(../img/flech.png);
    content: " ";
    position: absolute;
    top: 0px;
    left: -160px;
}
  .btnsejour::after{
    width: 147;
    height: 36px;
      transform: rotate(180deg);
    background: url(../img/flech.png);
    content: " ";
    position: absolute;
    top: 0px;
    right: -160px;
}
      
    
















