body {
    background-color:brown;
    margin: 0;
}

/*attribution d'une police par défaut*/
h1, h2, h3 {
    
}

.page{/*---dimension et positionnement*/
    width: 100%;
    max-width: 1000px;
    height: auto;
         /*decoration*/
    margin: 40px auto;
    background-color: azure
  } 



    
    
    
    
    
    
    
    
.page p {
    font-family:;
    color:black;
}





.topheader   {
    /* Dimension et positionnement*/
    width: 100%;
    height: 30px;
    float: left;
        /*---decoration-----*/
    background-image: linear-gradient(180deg, red, yellow);
    border-top-left-radius: 5px;
    
}
    
.topheader p  {
    text-align:right;
    font-family: 'Mcondo' , sans-serif;
    margin: 0 10px 0 0;
    line-height: 30px;
}     
.topheader p a {
    color: beige;
    margin-bottom: 3px;
    margin-left: 5px;
    
}
.topheader p a :hover {
    text-decoration: underline;
    
}
header {
    width: 100%;
    height: 130px;
    float: left;
    background-color:white;
}
.logo{ width: 25%;
    height: auto;
    float: left;
    /*menu du header*/
    
}
nav{
    width: 75%;
    height: 100%;
    float: left;
    
}
nav ul {
    margin: 0;
    padding: 0;
    
}    
nav ul li {
    display: inline-block;
    margin-right: 30px;
    font-family: -webkit-pictograph;
}
    

nav ul li a {
    font-family: 'Macodo', sans-serif;
    font-size: 18px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 125px;
    
}

nav ul li a:hover,
nav ul li .current a {
    color: firebrick;
    
}
/*projecteur*/
#projecteur{
    width: 100%;
    float: left;
    height: auto;
    height: 50%;
} 
#projecteur img{
    width: 100%;
    
}

section{
    width: 100%;
    float:left;
}
article{
    width: calc(50% - 20px);
    float: left;
    margin-right:
} 
 section aside{
    width: 50%;;
    height: auto;
    float: left;
}
section aside img{
    max-width: 100%;    
}
section article{
    width: calc(50% - 20px);
    height: auto;
    float: left;
    margin: 0 10px;
}
.partenair{
    float: left;
    width: 100%;
}
.partenair img{
    height: 180px;
    width: 20%;
    margin-left: 40px;
}
.partenair h2{
    text-align: center;
    font-family: -webkit-pictograph;
}

footer {
    width: 100%;
    float: left;
    background: #ea2b36;
}

 .gmap {
   /* width: calc( (100% / 3) - 10px );
    float: left;
    margin-left: 10px;*/
}
.newsletter {
   /* width: calc( (100% / 3) - 10px );
    float:left;
    margin-left: 10px;*/
}
.contact {
    /*width: calc( (100% / 3) - 10PX );
    float: left;
    margin-left: 10px;*/
}
.newsletter form fieldset {
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    height: 180px;
}
.newsletter input[type=text],
.newsletter input[type=email]{
    width: 91%;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.newsletter input[type=submit]{
    width: 99%;
    height: 35px;
    margin-top: 0px;
    border: 0;
    background-color:white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}
  /* contacte*/
.contact h3{
    color: red;
    text-align: center;
    font-weight: lighter;
}
.contact address{
    color: #fff;
    padding-left: 20px;
}
.contact adress strong{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
.contact address a{
    color: #fff;
    text-decoration: none;
}
.contact address a hover {
    text-decoration: underline;
}
a, h1, h3 .newsletter, .contact, .feildset {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight:bolder;
}
p{
    font-family: cursive;
}
h1{
    text-transform: uppercase;
}
div section article h1{
    font-family: font-family: -webkit-pictograph;
        text-align: center;
}

   
div section article p{
    color: black;
    text-align: center;
    text-align: center;
    font-family: -webkit-pictograph;
}



































