page{
    width: 100%;
    max-width: 1000px;
    background: green;
    margin: 0 auto;
}
body{
    background-color:green;
}
.gmap {
    width: calc( (100% / 3) - 10px );
    float: left;
    margin-left: 10px;
}
.newsletter {
    width: calc( (100% / 3) - 10px );
    float:left;
    margin-left: 10px;
}
.contact {
    width: calc( (100% / 3) - 10PX );
    float: left;
    margin-left: 10px;
}
.newsletter form fieldset {
    border: 2px solid #fff;
    border-radius: 8px;
    color: #fff;
    height: 180px;
}
.newsletter input[type=text],
.newsletter input[type=email]{
    width: 91%;
    height: 25px;
    padding: 5px 10px;
    margin-bottom: 5px;
}
.newsletter input[type=submit]{
    width: 99%;
    height: 35px;
    margin-top: 0px;
    border: 0;
    background-color:white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    
}
  /* contacte*/
.contact h3{
    color: red;
    text-align: center;
    font-weight: lighter;
}
.contact address{
    color: #fff;
    padding-left: 20px;
}
.contact adress strong{
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
}
.contact address a{
    color: #fff;
    text-decoration: none;
}
.contact address a hover {
    text-decoration: underline;
    
    