@charset "utf8-8";
/*css Document*/
body{
  background: linear-gradient(to right, rgb(86, 20, 176), rgb(219, 214, 92));
}
 

nav ul li a  {
    background-color: rgb(219, 214, 92);
    text-transform: uppercase;
    font-size: 18px;
    line-height: 10px;
    font-family: sans-serif;
    font-weight: bold;
}
#header{
    background-color:darkgreen
}

footer{
    background-color: #f9f9f9;
    height: 90px;
    margin-top: 500px;
    color: black;
    font-size: 2em;
    text-align: center;
}
#foot {
    padding-top: 20px;
}
#menu{
    background-color: red;
}
#main{
    background-color: #afe55e;
}

