body{
    background-color: black;
}
.navbar-apple{
    background: #1E1E1E;
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-apple ul li a{
    font-family: 'roboto condensed',sans-serif;
    font-weight: 400;
}
.navbar-brand{
    color: #fff !important;
}
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#mobile{
    background: #101010;
}
#mobile ul{
    padding: 10px 0;
}
#mobile ul li{
    padding: 0 15 px;
}
/*section projecteur*/
#projecteur{
    text-align: center;
}
#projecteur h2{
    font-family: 'roboto condensed',sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: #fff;
}
#projecteur h3{
     font-family: 'roboto condensed',sans-serif;
    font-weight: 300;
    font-size: 60px;
    color: #fff;
}
#projecteur p{
    color: #ccc;
}
#iphone7{
    background-image: linear-gradient(#fff 0%, #EEE 100%);
    padding: 40px 0 0 0;
}
#iphone7 article h3{
    font-family: 'roboto condensed'"Lucida sans unicode",Aial, sans-serif;
    font-weight: 300;
    font-size: 36px;
    color:#303236;
    margin: 40px 0;
}
#iphone7 article p{
    margin: 40px 0;
}
/*section contact*/
#contact {
    padding: 100px 0;
}
#contact h3{
    font-size: 40px;
    color: #fff;
    font-family:'roboto condensed'"Lucida sans unicode",Aial, sans-serif;
    text-align: center;
    font-weight: 400;
    margin-bottom: 10px;
        
}
#contact .form-group:nth-child(2) > div:first-child{
    padding-right: 7.5px;
}
#contact .form-group:nth-child(2) > div:nth-child(2){
   padding-left:  7.5px;
}
/*section footer*/
footer{
    background-color: #1E1E1E;
    padding: 10px 0;
}
footer p{
    margin: 0;
    text-align: center;
    color: #FFF;
    font-size: 12px;
}

@media(max-width:767px){}
@media(max-width:768px){
    #mobile ul li{
        width: calc( 100% / 3 );
    }
    #iphone7 img{
        margin: 0 auto !important;
    }
}
@media(max-width:992px){
    #mobile ul li{
        width: calc( 100% /4);
    }
    #contact input[type=email]{
        margin-bottom: 15px;
    }
    #contact .form-group:nth-child(2) > div:first-child{
        padding-right: 15px;
    }
    #contact .form-group:nth-child(2) > div:nth-child{
        padding-right: 15px;
    }
}
@media(max-width: 480px){
    #mobile ul li{
        width: calc( 100% / 2);
    }  
}
